.search {
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 200px;
  line-height: 1.5;
  position: relative;
}

.search:focus + span {
  display: none;
}

.mag-glass-icon {
  position: relative;
}

.mag-glass-icon::after {
  content: url("./mag-glass.png");
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: 3px;
}

@media (max-width:168px) {
  .mag-glass-icon::after {
    display: none;
  }
}
